.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formrecaptcha {
  margin-bottom: 8px;
}

.div-block {
  margin-right: 80px;
  margin-left: 80px;
}

.heading-2 {
  color: #333;
}

.heading-3 {
  color: #2a8b49;
}

.heading-4 {
  margin-bottom: 40px;
  color: #38a063;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.checkbox-label {
  font-weight: 700;
}

.checkbox-field {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 40px;
  background-color: #eaeaea;
}

.text-block {
  padding: 10px 20px;
  background-color: #eaeaea;
}

.recaptcha {
  margin-top: 20px;
  margin-bottom: 20px;
}

.div-block-2 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #22974f;
  text-align: center;
}

.text-block-2 {
  color: #fff;
}

.submit-button {
  background-color: #aa7a4f;
}

.submit-button:hover {
  background-color: #009640;
}

@media screen and (max-width: 767px) {
  .div-block {
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 479px) {
  .div-block {
    margin-right: 30px;
    margin-left: 30px;
  }
}

